[submodule "external/StackStruct"]
	path = external/StackStruct
	url = https://github.com/Kunakbaev/StackStruct
[submodule "external/LoggerLib"]
	path = external/LoggerLib
	url = https://github.com/Kunakbaev/LoggerLib
